# Created by venv; see https://docs.python.org/3/library/venv.html
/Lib/*
/share/*
/Scripts/*
/.venv/
/.mypy_cache/
*/__pycache__/*
/.pytest_cache/
src/patchagent.egg-info/*
src/patchagent.egg-info/PKG-INFO/*
*.pyc
